[tool.poetry]
name = "spond-classes"
version = "0.11.1"
description = "Experimental Python class abstraction layer for `spond` package."
authors = ["elliot-100 <3186037+elliot-100@users.noreply.github.com>"]
readme = "README.md"
homepage = "https://github.com/elliot-100/Spond-classes"
repository = "https://github.com/elliot-100/Spond-classes"
packages = [{include = "spond_classes"}]
include = ["CHANGELOG.md"]
license = "GPL-3.0-only"

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
pydantic = ">=2.7.1"

[tool.poetry.group.dev.dependencies]
pdoc = ">=14.7.0"
pre-commit = ">=3.1.1"
ruff = ">=0.6.5"

[tool.poetry.group.test.dependencies]
mypy = ">=1.11.2"
pytest = ">=8.3.3"

[tool.mypy]
plugins = ["pydantic.mypy"]
enable_error_code = ["ignore-without-code"]  # Require specific codes for ignores
warn_unused_configs = true
strict = true
disallow_any_unimported = true  # Disallow Any types resulting from unfollowed imports
no_implicit_optional = true  # Don't assume arguments with default values of None are Optional

[tool.ruff]
target-version = "py310"  # Ruff doesn't respect Python dependency in [tool.poetry.dependencies]

[tool.ruff.lint]
select = ["ALL"]
ignore = [
# Rules that conflict with Ruff formatter:
"COM812",  # Trailing comma missing
"ISC001",  # Implicitly concatenated string literals on one line
# Other rules:
"D205",  # 1 blank line required between summary line and description
]

[tool.ruff.lint.per-file-ignores]
# Rules that aren't relevant in tests:
"**/{tests}/*" = [
"S101",  # Use of assert detected
"F841",  # Local variable is assigned to but never used (triggered by testing raises)
]

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
