# Install Poetry, dependencies, run tests with a range of Python versions on Ubuntu Linux

name: Python package with Poetry

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install project
        run: poetry install --without dev
      - name: Lint format with ruff
        # by default: exit with error if rule violations
        uses: chartboost/ruff-action@v1
        with:
          args: format
      - name: Lint with ruff
        # by default: exit with error if rule violations
        uses: chartboost/ruff-action@v1
      - name: Test with pytest
        run: |
          source $VENV
          pytest
      - name: Check typing with mypy
        run: |
          source $VENV
          mypy .
